.header {
  font-size: 100px;
}

.main-page {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
}

.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.action-btn {
  background-color: lightgreen;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px;
  cursor: pointer;
  border-radius: 20px;
}

.action-btn:hover {
  background-color: blueviolet;
  font-weight: 600;
}

.counter-label {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.form-container {
  max-width: 600px;
  padding: 25px;
  width: 100%;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

input {
  border: 1px solid #441010;
  border-bottom: 2px solid black;
  padding: 10px;
  margin-bottom: 200px;
  width: 100%;
  margin: 10px 0;
  border-radius: 9px;
}
button {
  background-color: #4caf50;
  border-radius: 10px;
  border: none;
  color: antiquewhite;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px;
  cursor: pointer;
  max-width: 200px;
  width: 100%;
}

.main-conrainer{
  background-color: black;
  color: white;
  text-align: center;
  padding: 30px;
  font-size: 30px;
}

.car{
  background-color: #4caf50;
  color: aliceblue;
  text-align: center;
  max-width: 100px;
  padding: 10px;
  border-radius: 10px;
}