.header {
  font-size: 100px;
}

.main-page {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
}

.card {
  background-color: rgb(200, 213, 200);
  padding: 20px;
  margin: 20px 0;
  border: 4px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2.2), 0 6px 20px 0 rgba(0, 0, 0, 2.19);
  border-radius: 15px;
}

.card-name {
  font-size: 20px;
  font-weight: bold;
  margin: 10px auto;
}  

.card-image {
  border-radius: 50px;
  height: 100px;
  width: 100px;
}

